[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Comment=Todoy yay!
Name=todoy
Exec=/usr/bin/todoy
Icon=todoy_ico_48
X-Icon-path=/usr/share/icons
X-Window-Icon=todoy_ico_48
Type=Application
X-Osso-Type=application/x-executable
