[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=QMobilePaint
Exec=/usr/bin/qmobilepaint
Icon=qmobilepaint
StartupWMClass=
X-Window-Icon=qmobilepaint
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

